* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.skip-to-content-link {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.welcome-title{
    font-size: 40px;
    font-weight: 700;
    color: #FF7A00;
    text-align: center;
    text-shadow: 1px 1px 3px #FF7A00, 1px 1px 8px #000;
}

.welcome-text{
    font-size: 25px;
    font-weight: 400;
    color: #FF7A00;
    text-align: center;
    text-shadow: 1px 1px 3px #FF7A00, 1px 1px 8px #000;
}

.accordion{
    min-width: 300px;
    -webkit-box-shadow: 0px 7px 33px -4px rgba(0,0,0,0.74);
    box-shadow: 0px 7px 33px -4px rgba(0,0,0,0.74);
}

.skip-to-content-link:focus {
    transform: translateY(0%);
}

.nav-logo {
    height: 50px;
}

.navbar-collapse{
    flex-grow: 0;
}

.first-section{
    min-height: 80vh;
    background-image: url("../img/Zgrada.jpg");
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section-shadow{
    width: 100%;
    height: 100%;padding: 100px 0;
        min-height: 80vh;background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.second-section2{
    background-image: url("../img/Gimnazija_Subotica_Nocu.jpg");
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    background-size: cover;
}

.second-section2 .circle{
    width: 240px;
    height: 240px;
    border-radius: 120px;
    border-width: 5px;
    border-color: #FF7A00;
    border-style: solid;
    background: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-text{
    font-size: 50px;
}

.data-title{
    font-size: 35px;
}

#light {
    top: 50%;
    left: 50%;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
}

.invert-img{
    filter: invert(1) contrast(2);
}

.first-section .glavna-slika{
    width: 500px;
}
.first-section .lokacija-broj img{
    height: 15px;
}
.first-section .lokacija-broj p{
    color: #FF8000;
}

.second-section button,
.third-section button {
    border-style: none;
    width: 250px;
    height: 200px;
    border-radius: 15px;
}
.second-section,
.third-section {
    padding-top: 50px;
    padding-bottom: 100px;    
}
.second-section{
    background-color: #606060;
}

.third-section{
    background-color: #404040;
}
.second-section h2,
.second-section2 h2,
.third-section h2 {
    text-align: center;
    color: white;
    padding-bottom: 50px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.second-section button,
.third-section button
{transition-duration: 300ms;}

.second-section button:hover,
.third-section button:hover{
    margin-top: -10px;
    -webkit-box-shadow: 0px 7px 33px -4px rgba(0,0,0,0.74);
    box-shadow: 0px 7px 33px -4px rgba(0,0,0,0.74);
    z-index: 10;
}
.second-section .dugme1{
    background-color: #FF00DD;
}
.second-section .dugme2{
    background-color: #FF2200;
}
.second-section .dugme3{
    background-color: #000099;
}
.second-section .dugme4{
    background-color: #009900;
}
.third-section .dugme1{
    background-color: #ffff00;
}
.third-section .dugme2{
    background-color: #00EEFF;
}
.third-section .dugme3{
    background-color: #FF7A00;
}
.third-section .dugme4{
    background-color: #7f00ff;
}
.second-section button img,
.third-section button img{
    height: 150px;
}

.fourth-section {
    background-color: black;
    padding-bottom: 80px;
}
.fourth-section h2{
    font-size: 70px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-align: center;
    color: white;
    padding-top: 50px;
}
.fourth-section p{
    color: #c0c0c0;
    text-align: center;

}
.fourth-section img{
    height: 120px;
    
    
}